$width: 200px;
$height: 200px;
$shadow: 0px 0px 16px 12px #ccc;

@mixin butto-default {
  width: $width;
  height: $height;
}

@mixin button-selected {
  position: relative;
  animation-name: button-selected;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.simonButton {
  width: $width * 2;
  height: $height * 2;

  &__selected {
    @include button-selected;
  }
}

.red {
  @include butto-default;

  background: red;
  border-radius: 0 0 $width 0;
  -moz-border-radius: 0 0 $width 0;
  -webkit-border-radius: 0 0 $width 0;
}

.blue {
  @include butto-default;

  background: blue;
  border-radius: 0 0 0 $width;
  -moz-border-radius: 0 0 0 $width;
  -webkit-border-radius: 0 0 0 $width;
}

.green {
  @include butto-default;
  background-color: green;

  background: green;
  border-radius: 0 $width 0 0;
  -moz-border-radius: 0 $width 0 0;
  -webkit-border-radius: 0 $width 0 0;
}

.yellow {
  @include butto-default;

  background: orange;
  border-radius: $width 0 0 0;
  -moz-border-radius: $width 0 0 0;
  -webkit-border-radius: $width 0 0 0;
}

@keyframes button-selected {
  50% {
    -webkit-box-shadow: $shadow; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: $shadow; /* Firefox 3.5 - 3.6 */
    box-shadow: $shadow; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  }
}
