.currentScore{
    color: #fff;
    font-size: 2.4rem;
    text-align: center;
    font-weight: 700;
    -webkit-text-shadow: 1px 1px #33323c, 2px 2px #33323c, 3px 3px #33323c, 4px 4px #33323c, 5px 5px #33323c;
    text-shadow: 1px 1px #33323c, 2px 2px #33323c, 3px 3px #33323c, 4px 4px #33323c, 5px 5px #33323c;
}